<title>Mini Message Board</title>
<meta charset="UTF-8" />
<meta name="viewport" width="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/reset.css" />
<link rel="stylesheet" href="/shared.css" />
